@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.pushable {
    border-radius: 0px;
    border: none;
    cursor: pointer;
    outline-offset: 0px;
    outline: 2px solid black;
    margin-left: 10px;
}

.front {
    outline: 2px solid black;
    padding: 8px 14px;
    border-radius: 0px;
    transition: 0.3s;
}

.front:hover {
    transform: translate(-8px, -8px);
}

.pushable:active .front {
    transform: translateY(0px);
}